{% extends 'imobiliaria/index.html' %}

{% block body %}

<div class='barra_pesquisa'>
  <input onkeyup="funcao_ajax(resposta, 
  '/imobiliaria/pesquisa_propriedaderural', value)"
placeholder='Digite o Bairro'>
</div>
<div class='scroll' id='resposta'>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição Curta</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for propriedaderural in propriedades %}
      <tr>
        <td>{{ propriedaderural.id }}</td>
        <td>{{ propriedaderural.descricao_curta }}</td>
        <td>{{ propriedaderural.estado }}</td>
        <td>{{ propriedaderural.cidade }}</td>
        <td>{{ propriedaderural.bairro }}</td>
        <td><a href="/imobiliaria/detalhes_propriedaderural={{ propriedaderural.id }}">
        Mais Detalhes</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
