{% extends 'imobiliaria/index.html' %}

{% block body %}

<div class='barra_pesquisa'>
  <input onkeyup="funcao_ajax(resposta, '/imobiliaria/pesquisa_pj', value)" 
placeholder='Qual o nome fantasia da empresa que você está pesquisando?'>
</div>
<div class='scroll' id='resposta'>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome Fantasia</th>
        <th>Email</th>
        <th>Telefone Comercial</th>
        <th>Celular do Responsável</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for pj in pjs %}
      <tr>
        <td>{{ pj.id }}</td>
        <td>{{ pj.nome }}</td>
        <td>{{ pj.email }}</td>
        <td>{{ pj.telefone_comercial }}</td>
        <td>{{ pj.telefone_celular }}</td>
        <td><a href="/imobiliaria/detalhes_pj={{ pj.id }}">Mais Detalhes</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table> 

</div>


{% endblock %}