{% extends 'imobiliaria/index.html' %}

{% block body %}
<div class="panel-body">
    
  <div class='formulario'>
        
      <form method="post" 
      action="/imobiliaria/novo_terreno_lote" 
      enctype="multipart/form-data">
      {% csrf_token %}
        <div style="width: 65%; margin-right: auto; margin-left: auto;">
            {{msg}}

            <h3>Cadastro de Propriedade Rual</h3>

            <div class="table-responsive">

              <table style="width: 100%">
                <tr>
                    <td>{{ form.disponivel }}</td>
                    <td>{{ form.disponivel.label }}</td>
                    <td>{{ form.exibir }}</td><td>{{ form.exibir.label }}</td>
                    <td>{{ form.destaque }}</td><td>{{ form.destaque.label }}</td>
                </tr>
                <tr></tr>
              </table>  
            </br>  
            <p>{{ form.descricao_curta.label }} {{ form.descricao_curta }}</p>
            
            <p>{{ form.proprietario.label }}</p>
            <p>{{ form.proprietario }}</p>
            
            <p>{{ form.logradouro.label }} {{ form.logradouro }}</p>
            <p>{{ form.numero.label }} {{ form.numero }}</p>
            <p>{{ form.complemento.label }} {{ form.complemento }}</p>
            <p>{{ form.bairro.label }} {{ form.bairro }}</p>
            <p>{{ form.cidade.label }} {{ form.cidade }}</p>
            
            <p>{{ form.estado.label }}</p>
            <p>{{ form.estado }}</p>

            <p>{{ form.pais.label }} {{ form.pais }}</p>
            <p>{{ form.cep.label }} {{ form.cep }}</p>
            
            <p>{{ form.morador_locatario.label }}</p>
            <p>{{ form.morador_locatario }}</p>

            <p>{{ form.tipo.label }}</p>
            <p>{{ form.tipo }}</p>

            <p>{{ form.distancia_centro.label }}</p>
            <p>{{ form.distancia_centro }}</p>

            <p>{{ form.area_construida.label }}</p>
            <p>{{ form.area_construida }}</p>

            <p>{{ form.idade.label }}</p>
            <p>{{ form.idade }}</p>

            <p>{{ form.avaliacao.label }}</p>
            <p>{{ form.avaliacao }}</p>

            <p>{{ form.dormitorios.label }}</p>
            <p>{{ form.dormitorios }}</p>

            <p>{{ form.suites.label }}</p>
            <p>{{ form.suites }}</p>

            </br>
            <h4>Características</h4>
            <table style="width: 100%">
                <tr>
                    <td>{{ form.cercado }}</td>
                    <th>{{ form.cercado.label }}</th>
                    <td>{{ form.casa_caseiro }}</td>
                    <th>{{ form.casa_caseiro.label }}</th>
                    <td>{{ form.deposito }}</td>
                    <th>{{ form.deposito.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.salao_festas }}</td>
                    <th>{{ form.salao_festas.label }}</th>
                    <td>{{ form.salao_jogos }}</td>
                    <th>{{ form.salao_jogos.label }}</th>
                    <td>{{ form.piscina }}</td>
                    <th>{{ form.piscina.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.quadra_esportiva }}</td>
                    <th>{{ form.quadra_esportiva.label }}</th>
                    <td>{{ form.campo_futbol }}</td>
                    <th>{{ form.campo_futbol.label }}</th>
                    <td>{{ form.churrasqueira }}</td>
                    <th>{{ form.churrasqueira.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.viveiro_passaros }}</td>
                    <th>{{ form.viveiro_passaros.label }}</th>
                    <td>{{ form.curral }}</td>
                    <th>{{ form.curral.label }}</th>
                    <td>{{ form.galinheiro }}</td>
                    <th>{{ form.galinheiro.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.chiqueiro }}</td>
                    <th>{{ form.chiqueiro.label }}</th>
                    <td>{{ form.horta }}</td>
                    <th>{{ form.horta.label }}</th>
                    <td>{{ form.lago }}</td>
                    <th>{{ form.lago.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.cascata }}</td>
                    <th>{{ form.cascata.label }}</th>
                    <td>{{ form.energia_eletrica }}</td>
                    <th>{{ form.energia_eletrica.label }}</th>
                    <td>{{ form.energia_solar }}</td>
                    <th>{{ form.energia_solar.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.saneamento_basico }}</td>
                    <th>{{ form.saneamento_basico.label }}</th>
                </tr>
            </table>
            </br>

            <h4>Venda</h4>
            
            <p>{{ form.valor_venda.label }}</p>
            <p>{{ form.valor_venda }}</p>
            
            <p>{{ form.pagamento.label }}</p>
            <p>{{ form.pagamento }}</p>
            
            </br>
            <h4>Aluguel</h4>
            <p>{{ form.valor_aluguel.label }}</p>
            <p>{{ form.valor_aluguel }}</p>
            
            <p>{{ form.frequencia_aluguel.label }}</p>
            <p>{{ form.frequencia_aluguel }}</p>

            </br>
            <h4>Aluguel por Temporada</h4>
            <p>{{ form.valor_altaemporada.label }}</p>
            <p>{{ form.valor_altaemporada }}</p>
            
            <p>{{ form.valor_baixaemporada.label }}</p>
            <p>{{ form.valor_baixaemporada }}</p>

            <p>{{ form.frequencia_temporada.label }}</p>
            <p>{{ form.frequencia_temporada }}</p>

            <p>{{ form.acomodacoes.label }}</p>
            <p>{{ form.acomodacoes }}</p>

            </br>
            <h4>Taxas</h4>
            <p>{{ form.condominio.label }}</p>
            <p>{{ form.condominio }}</p>

            <p>{{ form.iptu.label }}</p>
            <p>{{ form.iptu }}</p>
            </br>
            <p>{{ form.taxas_extras.label }}</p>
            <p>{{ form.taxas_extras }}</p>
            </br>
            <h4>Documentos</h4>
            <p>{{ form.numero_matricola.label }}</p>
            <p>{{ form.numero_matricola }}</p>

            <p>{{ form.situacao.label }}</p>
            <p>{{ form.situacao }}</p>
            
            <p>Título Aquisitivo</p>
            <p>{{ form.titulo_aquisitivo }}</p>
            </br>

            <p>{{ form.pagamento.label }}</p>
            <p>{{ form.pagamento }}</p>

            <h4>Taxas</h4>
            <p>{{ form.condominio.label }}</p>
            <p>{{ form.condominio }}</p>

            <p>{{ form.iptu.label }}</p>
            <p>{{ form.iptu }}</p>
            </br>
            <p>{{ form.taxas_extras.label }}</p>
            <p>{{ form.taxas_extras }}</p>
            </br>
            <h4>Documentos</h4>
            <p>{{ form.numero_matricola.label }}</p>
            <p>{{ form.numero_matricola }}</p>

            <p>{{ form.situacao.label }}</p>
            <p>{{ form.situacao }}</p>
            
            <p>Título Aquisitivo</p>
            <p>{{ form.titulo_aquisitivo }}</p>
            </br>
            <h4>Imagens</h4>
            <table>
                <tr>
                    <td>{{ form.img1.label }}</td>
                    <td>{{ form.img1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img2.label }}</td>
                    <td>{{ form.img2 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img3.label }}</td>
                    <td>{{ form.img3 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img4.label }}</td>
                    <td>{{ form.img4 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img5.label }}</td>
                    <td>{{ form.img5 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img6.label }}</td>
                    <td>{{ form.img6 }}</td>
                </tr>
            </table>
            </br>
            <h4>Multimídia</h4>
            <p>Vídeo no Youtube</p>
            <p>{{ form.video }}</p>
            
            </div> 
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
      </form>
  </div>
  
</div>

{% endblock %}

