{% extends 'imobiliaria/index.html' %}

{% block body %}
<div class="panel-body">
    
  <div class='formulario'>
        
      <form method="post" 
      enctype="multipart/form-data">
      {% csrf_token %}
        <div style="width: 65%; margin-right: auto; margin-left: auto;">
            {{msg}}

            <h3>Cadastro de Empreendimento</h3>

            <div class="table-responsive">

                <table style="width: 100%">
                <tr>
                    <td>{{ form.disponivel }}</td><td>{{ form.disponivel.label }}</td>
                    <td>{{ form.exibir }}</td><td>{{ form.exibir.label }}</td>
                    <td>{{ form.destaque }}</td><td>{{ form.destaque.label }}</td>
                </tr>
                <tr></tr>
              </table> 
            </br>  
            <p>{{ form.descricao_curta.label }} {{ form.descricao_curta }}
            </p>
            
            <p>{{ form.proprietario.label }}</p>
            <p>{{ form.proprietario }}</p>
            
            <p>{{ form.logradouro.label }} {{ form.logradouro }}</p>
            <p>{{ form.numero.label }} {{ form.numero }}</p>
            <p>{{ form.complemento.label }} {{ form.complemento }}</p>
            <p>{{ form.bairro.label }} {{ form.bairro }}</p>
            <p>{{ form.cidade.label }} {{ form.cidade }}</p>
            
            <p>{{ form.estado.label }}</p>
            <p>{{ form.estado }}</p>

            <p>{{ form.pais.label }} </p>
            <p>{{ form.pais }}</p>
            <p>{{ form.cep.label }}</p>
            <p>{{ form.cep }}</p>
            <!-- fim imovel -->

            <p>{{ form.nome.label }} </p>
            <p>{{ form.nome }}</p>

            <p>{{ form.situacao.label }} </p>
            <p>{{ form.situacao }}</p>

            <p>{{ form.tipo.label }} </p>
            <p>{{ form.tipo }}</p>

            <p>{{ form.vagas_garagem.label }} </p>
            <p>{{ form.vagas_garagem }}</p>

            <p>{{ form.areas_das_unidades.label }} </p>
            <p>{{ form.areas_das_unidades }}</p>

            <p>{{ form.previsao_entrega.label }} </p>
            <p>{{ form.previsao_entrega }}</p>

            </br>
            <h4>Características</h4>
            <table style="width: 100%">
                <tr>
                    <td>{{ form.torneira_quente }}</td>
                    <th>{{ form.torneira_quente.label }}</th>
                    <td>{{ form.gas_canalizado }}</td>
                    <th>{{ form.gas_canalizado.label }}</th>
                    <td>{{ form.piscina }}</td>
                    <th>{{ form.piscina.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.salao_fastas }}</td>
                    <th>{{ form.salao_fastas.label }}</th>
                    <td>{{ form.salao_ginastica }}</td>
                    <th>{{ form.salao_ginastica.label }}</th>
                    <td>{{ form.quadra_esportiva }}</td>
                    <th>{{ form.quadra_esportiva.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.sauna }}</td>
                    <th>{{ form.sauna.label }}</th>
                    <td>{{ form.vista_mar }}</td>
                    <th>{{ form.vista_mar.label }}</th>
                    <td>{{ form.portaria_recepcao }}</td>
                    <th>{{ form.portaria_recepcao.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.circuito_tv }}</td>
                    <th>{{ form.circuito_tv.label }}</th>
                    <td>{{ form.hall_espera }}</td>
                    <th>{{ form.hall_espera.label }}</th>
                    <td>{{ form.sala_reunioes }}</td>
                    <th>{{ form.sala_reunioes.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.auditorio }}</td>
                    <th>{{ form.auditorio.label }}</th>
                    <td>{{ form.rede_logica }}</td>
                    <th>{{ form.rede_logica.label }}</th>
                    <td>{{ form.rede_de_piso }}</td>
                    <th>{{ form.rede_de_piso.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.ar_condicionado_central }}</td>
                    <th>{{ form.ar_condicionado_central.label }}</th>
                </tr>
            </table>
            </br>
            
            <p>{{ form.site_empreendimento.label }}</p>
            <p>{{ form.site_empreendimento }}</p>

            <p>{{ form.observacoes.label }}</p>
            <p>{{ form.observacoes }}</p>
            </br>
            <h4>Venda</h4>
            <p>{{ form.valor_exibicao.label }}</p>
            <p>{{ form.valor_exibicao }}</p>

            <p>{{ form.valores_formas_pagamento.label }}</p>
            <p>{{ form.valores_formas_pagamento }}</p>
            
            
            </br>
            <h4>Imagens</h4>
            <table>
                <tr>
                    <td>{{ form.img1.label }}</td>
                    <td>{{ form.img1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img2.label }}</td>
                    <td>{{ form.img2 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img3.label }}</td>
                    <td>{{ form.img3 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img4.label }}</td>
                    <td>{{ form.img4 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img5.label }}</td>
                    <td>{{ form.img5 }}</td>
                </tr>
                <tr>
                    <td>{{ form.img6.label }}</td>
                    <td>{{ form.img6 }}</td>
                </tr>
            </table>
            </br>
            <h4>Multimídia</h4>
            <p>{{ form.video.label }}</p>
            <p>{{ form.video }}</p>
            
            </div> 
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
      </form>
  </div>
  
</div>

{% endblock %}

