<div class='scroll'>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição Curta</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Bairro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for estabalecimentocomercial in estabalecimentoscomerciais %}
      <tr>
        <td>{{ estabalecimentocomercial.id }}</td>
        <td>{{ estabalecimentocomercial.descricao_curta }}</td>
        <td>{{ estabalecimentocomercial.estado }}</td>
        <td>{{ estabalecimentocomercial.cidade }}</td>
        <td>{{ estabalecimentocomercial.bairro }}</td>
        <td>
        <a href="/imobiliaria/detalhes_estabalecimentocomercial={{ estabalecimentocomercial.id }}">
        Mais Detalhes</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
